@import url("https://fonts.googleapis.com/css?family=Ubuntu");

/* General rules */
* {
  box-sizing: border-box;
}
*:focus {
  outline: none !important;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}
html,
body {
  margin: 0;
  height: 100%;
}
body {
  background: linear-gradient(to top, #ffa191, #ffc247);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
.hidden {
  display: none !important;
}

/* Content */
#content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Ubuntu;
  color: #fff;
  padding-bottom: 20vh;
}
#content .avatar {
  width: 85px;
  margin-bottom: 1rem;
}
#content .avatar:hover {
  cursor: none;
}
#content #wheels {
  width: 200px;
}
#content h1 {
  padding: 0.4rem 0;
  font-size: 2.8rem;
}
#content .socials {
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
#content .socials a {
  color: inherit;
  display: inline-block;
  padding: 0 0.5rem;
  text-decoration: none;
}
#content .socials-padding {
  align-self: flex-end;
}
#content .socials i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  transition: color 300ms ease, margin-top 100ms ease;
}
#content .socials i:visited {
  color: #fff;
}
#content .socials #github {
  margin-top: 4px;
}
#content .socials #github:hover {
  color: #24292e;
  margin-top: 4px;
}
#content .socials #linkedin:hover {
  color: #2977ca;
}
#content .socials #lewagon {
  font-size: 2.5rem;
  margin: 12px -10px 0 -4px;
}
#content .socials #lewagon:hover {
  color: #fd1015;
}
#content .socials #mail {
  margin-top: 8.25px;
}
#content .socials #mail:hover {
  color: #4688f1;
}
#content #location {
  position: absolute;
  text-align: right;
  bottom: 2px;
  right: 20px;
}
#content #location-icon {
  width: 20px;
  cursor: pointer;
  transition: filter 300ms ease, margin-top 100ms ease;
}
#content #location-icon:hover {
  filter: invert(100%);
  margin-top: -2px;
}

/* Github tooltip */
#github-tooltip {
  text-align: center;
  margin: 0 auto;
  min-height: 0 !important;
}
#github-tooltip .calendar-graph {
  padding: 5px 0 0;
  text-align: center;
}
#github-tooltip .calendar-graph text.wday,
#github-tooltip .calendar-graph text.month {
  font-size: 10px;
  fill: #aaa;
}
#github-tooltip .contrib-legend {
  text-align: right;
  padding: 4px 14px 10px 0;
  display: inline-block;
  float: right;
  opacity: 0;
}
#github-tooltip .contrib-legend .legend {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  position: relative;
  bottom: -1px;
  padding: 0;
}
#github-tooltip .contrib-legend .legend li {
  display: inline-block;
  width: 10px;
  height: 10px;
}
#github-tooltip .contrib-footer {
  font-size: 11px;
  padding: 0 10px 12px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  height: 26px;
}
#github-tooltip .float-left {
  width: 100%;
  text-align: center;
  font-size: 8px;
}
@media (min-width: 370px) {
  #github-tooltip .float-left {
    font-size: 9px;
  }
}
@media (min-width: 500px) {
  #github-tooltip .float-left {
    font-size: 11px;
  }
}
.tippy-tooltip[data-template-id="#mailTooltip"] {
  padding: 1rem;
  font-family: Ubuntu;
}
.tippy-tooltip[data-template-id="#randomMessage"] {
  padding: 0.5rem;
  font-family: Ubuntu;
}
.tippy-tooltip[data-template-id="#github-tooltip"] {
  padding: 0.5rem;
  font-family: Ubuntu;
}
.tippy-tooltip[data-template-id="#github-tooltip"] div.float-left.text-gray {
  display: inline-block;
  padding-left: 18px;
  padding-top: 4px;
}
.tippy-tooltip[data-template-id="#github-tooltip"] a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  transition: 300ms;
}
.tippy-tooltip[data-template-id="#github-tooltip"] a:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.tippy-tooltip[data-template-id="#github-tooltip"] .contrib-legend {
  padding-right: 0 !important;
}

/* Background */
#background {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: inset 0 -65px 0 -30px #ff6347;
  z-index: -1;
}
.buildings {
  height: 90px;
  width: 100%;
  left: 0;
}
.buildings div {
  height: inherit;
  width: 45px;
  background: #ff6347;
  position: absolute;
  bottom: 10%;
}
.buildings div:after {
  content: "";
  width: 80%;
  height: 60%;
  left: 10%;
  bottom: 30%;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAGCAYAAAAG5SQMAAAAFElEQVQImWP4////fwYYIJKDEwAAfPsP8eFXG40AAAAASUVORK5CYII=")
    repeat;
  position: absolute;
}
.buildings div:nth-of-type(1) {
  width: 45px;
  height: 30px;
  right: 37%;
  bottom: 18%;
}
.buildings div:nth-of-type(1):after {
  bottom: 11%;
}
.buildings div:nth-of-type(2) {
  width: 50px;
  height: 40px;
  right: 30%;
  bottom: 25%;
  transform: rotate(180deg);
}
.buildings div:nth-of-type(2):after {
  width: 60%;
  left: 20%;
}
.buildings div:nth-of-type(3) {
  width: 25px;
  height: 100px;
  left: 40%;
  bottom: 30%;
  z-index: -1;
}
.buildings div:nth-of-type(3):after {
  bottom: 0;
  width: 40%;
  height: 85%;
  left: 30%;
}
.buildings div:nth-of-type(4) {
  width: 85px;
  height: 100px;
  left: 24%;
  bottom: 20%;
}
.buildings div:nth-of-type(5) {
  width: 60px;
  height: 68px;
  left: 47%;
  bottom: 10%;
  z-index: -1;
}
.buildings div:nth-of-type(5):after {
  bottom: 0;
  width: 55%;
  height: 80%;
  left: 25%;
}
.crane,
.buildings {
  position: absolute;
  bottom: 8px;
}
.crane div {
  border-radius: 2px;
  position: absolute;
}
.crane .line {
  border: none;
  background: #dd4125;
  outline: 1px solid transparent;
  z-index: 0;
}
.crane .line.line-one {
  width: 60%;
  left: 11%;
  top: 0;
}
.crane .line.line-two {
  width: 19%;
  right: 8%;
  top: 0;
}
.crane .line.line-three {
  height: 20%;
  top: 22%;
  left: 9%;
}
.crane .line.line-three:after {
  font-family: "icomoon" !important;
  position: absolute;
  display: block;
  bottom: 0;
  font-size: 2rem;
  height: 0.4rem;
  width: 0;
  z-index: 10;
  animation: shakeBlock 10s infinite alternate;
}
.crane-one .line.line-three:after {
  content: "\e911";
  color: #f7df1e;
  font-size: 2.2rem;
  left: -6px;
  height: 0.4rem;
}
.crane-two .line.line-three:after {
  content: "\e910";
  color: #cc342d;
  font-size: 1.75rem;
  left: -2.8px;
  transform: rotate(45deg);
  animation: shakeBlock 10s infinite alternate;
}
.crane-three .line.line-three:after {
  content: "\e90b";
  color: #1572b6;
  width: auto;
  font-size: 1.4rem;
  left: -2.8px;
  transform: rotate(20deg);
  animation: shakeBlock 12s infinite alternate;
}
.stand {
  height: 100%;
  width: 5%;
  right: 25%;
  z-index: 1;
  background: linear-gradient(to top, #ff6347, #f29b8b);
}
.crane-two .stand {
  background: linear-gradient(to top, #ff6347, #f19483);
}
.crane-three .stand {
  background: linear-gradient(to top, #ff6347, #f08c7b);
  z-index: -1;
}
.weight {
  height: 20%;
  width: 8%;
  right: 4%;
  top: 12%;
  z-index: 2;
  background: #f88f7c;
}
.crane-two .weight {
  background: #f88773;
}
.crane-three .weight {
  background: #f77f6b;
}
.cabin {
  height: 9%;
  width: 12%;
  right: 24%;
  top: 20%;
  z-index: 2;
  background: #f88f7c;
}
.cabin:after {
  content: "";
  position: absolute;
  height: 10%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: block;
  top: 60%;
  left: 0;
}
.crane-two .cabin {
  background: #f88773;
}
.crane-three .cabin {
  background: #f77f6b;
}
.arm {
  height: 7%;
  width: 100%;
  top: 15%;
  z-index: 3;
  background: #f88f7c;
}
.crane-two .arm {
  background: #f88773;
}
.crane-three .arm {
  background: #f77f6b;
}
.crane div.arm {
  border-top-left-radius: 10px;
}
.crane-one {
  width: 260px;
  height: 170px;
  left: 20%;
}
.crane-one div {
  border: solid 1px #ff6347;
}
.crane-one .line {
  height: 1px;
}
.crane-one .line-three {
  width: 1px;
}
.crane-two {
  width: 200px;
  height: 130px;
  transform: scaleX(-1);
  left: 40%;
  z-index: -1;
}
.crane-two div {
  border: solid 1px #ff6347;
}
.crane-two .line {
  height: 0.77px;
}
.crane-two .line-three {
  width: 0.71px;
  animation-delay: 3s;
}
.crane-three {
  width: 130px;
  height: 100px;
  left: 60%;
}
.crane-three div {
  border: solid 1px #ff6347;
}
.crane-three .line {
  height: 0.5px;
}
.crane-three .line-three {
  animation: moveLineThreeSmall 12s ease-in-out infinite alternate;
  width: 1px;
  animation-delay: 1.5s;
}
.crane-three .cabin,
.crane-three .arm,
.crane-three .picker,
.crane-three .weight {
  animation-delay: 1.5s;
}
.crane {
  perspective: 600px;
}
.line-one {
  transform-origin: right 0;
  animation: moveLineOne 10s infinite alternate;
}
.line-two {
  transform-origin: top left;
  animation: moveLineTwo 10s infinite alternate;
}
.line-three {
  transform-origin: right center;
  animation: moveLineThree 10s ease-in-out infinite alternate;
}
.cabin,
.arm,
.picker {
  transform-origin: 80% center;
  animation: moveCrane 10s infinite alternate;
}
.crane-three .arm {
  animation-delay: 2s;
}
.weight {
  transform-origin: 0 center;
  animation: moveWeight 10s infinite alternate;
}

/* Animations */
@keyframes moveCrane {
  0%,
  20% {
    transform: rotateY(0);
  }
  70%,
  100% {
    transform: rotateY(45deg);
  }
}
@keyframes moveWeight {
  0%,
  20% {
    transform: rotateY(0) translateX(0);
  }
  70%,
  100% {
    transform: rotateY(45deg) translateX(-50%);
  }
}
@keyframes moveLineOne {
  0%,
  20% {
    transform: rotateY(0) rotateZ(-10deg);
  }
  70%,
  100% {
    transform: rotateY(45deg) rotateZ(-10deg);
  }
}
@keyframes moveLineTwo {
  0%,
  20% {
    transform: rotateY(0) rotateZ(29deg);
  }
  70%,
  100% {
    transform: rotateY(15deg) rotateZ(29deg);
  }
}
@keyframes moveLineThree {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(2500%, -18%);
    height: 10%;
  }
  60% {
    transform: translate(11000%, -25%);
  }
  70% {
    transform: translate(9100%, -25%);
    height: 25%;
  }
  90%,
  100% {
    transform: translate(9100%, -15%);
    height: 55%;
  }
}
@keyframes moveLineThreeSmall {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(2500%, -18%);
    height: 15%;
  }
  60% {
    transform: translate(5000%, -25%);
  }
  70% {
    transform: translate(6000%, -25%);
    height: 30%;
  }
  90%,
  100% {
    transform: translate(7000%, 0);
    height: 60%;
  }
}
@keyframes shakeBlock {
  from,
  to {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0) rotate(30deg);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(2px, 0, 0) rotate(60deg);
  }
}

/* Responsive widths */
@media only screen and (max-width: 375px) {
  #content .socials {
    margin-top: 10px;
    height: 2.75rem;
  }
  #content .socials #mail {
    font-size: 2.15rem;
  }
  #content .socials i {
    font-size: 2.2rem;
  }
  .crane-two {
    display: none;
  }
  .crane-one .line.line-three:after {
    font-size: 1.8rem;
  }
  .crane-two .line.line-three:after {
    font-size: 1.6rem;
  }
  .buildings div:nth-of-type(1),
  .buildings div:nth-of-type(2),
  .buildings div:nth-of-type(3) {
    display: none;
  }
}
@media only screen and (min-width: 375px) and (max-width: 768px) {
  #content .socials {
    height: 2.7rem;
  }
  #content .socials i {
    font-size: 2.2rem;
  }
  .crane-two {
    display: none;
  }
  .buildings div:nth-of-type(1),
  .buildings div:nth-of-type(2) {
    display: none;
  }
}
